[main]

# The path to the data files
data:

## region file to use.
region:

# How many workers you want to run commands across.
# default 1
workers: 

# Name for log file. Default to FQF_Pipeline.GVCF_date_.log.txt
# For automated pipeline allow class to create log
log: 

# temp dir
tmp: /scratch/local/

# fqf_id
# for later file clean up
fqf_id:

# software versions
bwa_version:  0.7.10-r789
gatk_version: 3.3-0-g37228af
samtools_version:  1.2-192-gfcaafe0 (using htslib 1.2.1-194-gf859e8d)
samblaster_version:  Version 0.1.21
sambamba_version: v0.5.1
fastqc_version: v0.11.2
tabix_version:  0.2.5 (r1005)
wham_version:  v1.7.0-160-g2a51
igv_version: 2.3.71

# fastq path and file
fasta: /scratch/ucgd/lustre/ugpuser/ucgd_data/references/human_g1k_v37_decoy.fasta

# known files
known_indels: /scratch/ucgd/lustre/ugpuser/ucgd_data/GATK_Bundle/Mills_and_1000G_gold_standard.indels.b37.vcf
known_indels: /scratch/ucgd/lustre/ugpuser/ucgd_data/GATK_Bundle/1000G_phase1.indels.b37.vcf
known_dbsnp: /scratch/ucgd/lustre/ugpuser/ucgd_data/GATK_Bundle/dbsnp_137.b37.vcf

# background files
backgrounds:

# VQSR SNP
resource_SNP: hapmap,known=false,training=true,truth=true,prior=15.0 /scratch/ucgd/lustre/ugpuser/ucgd_data/GATK_Bundle/hapmap_3.3.b37.vcf
resource_SNP: omni,known=false,training=true,truth=true,prior=12.0 /scratch/ucgd/lustre/ugpuser/ucgd_data/GATK_Bundle/1000G_omni2.5.b37.vcf
resource_SNP: 1000G,known=false,training=true,truth=false,prior=10.0 /scratch/ucgd/lustre/ugpuser/ucgd_data/GATK_Bundle/1000G_phase1.snps.high_confidence.b37.vcf
use_annotation_SNP: DP
use_annotation_SNP: QD
use_annotation_SNP: MQRankSum
use_annotation_SNP: ReadPosRankSum
use_annotation_SNP: FS

# VQSR INDEL
resource_INDEL: mills,known=false,training=true,truth=true,prior=12.0 /scratch/ucgd/lustre/ugpuser/ucgd_data/GATK_Bundle/Mills_and_1000G_gold_standard.indels.b37.vcf
resource_INDEL: 1000G,known=false,training=true,truth=true,prior=10.0 /scratch/ucgd/lustre/ugpuser/ucgd_data/GATK_Bundle/1000G_phase1.indels.b37.vcf
use_annotation_INDEL: DP
use_annotation_INDEL: MQRankSum
use_annotation_INDEL: ReadPosRankSum
use_annotation_INDEL: FS

[software]
igv:/scratch/ucgd/lustre/ugpuser/apps/kingspeak.peaks/igvtools/2.3.82
gatk:/scratch/ucgd/lustre/ugpuser/apps/kingspeak.peaks/gatk/3.5.0

[order]
## When step is not used comment it out
command_order: igv_index
command_order: SelectVariants
command_order: CombineGVCF
command_order: GenotypeGVCF
command_order: CatVariants_Genotype
command_order: VariantRecalibrator_SNP
command_order: VariantRecalibrator_INDEL
command_order: ApplyRecalibration_SNP
command_order: ApplyRecalibration_INDEL
command_order: CombineVariants
command_order: bgzip
command_order: tabix

#############################################################
# Tool options section
#
# As of 11/15/2016
#
# cpu:$SLURM_CPUS_ON_NODE
# nps:nodes per sbatch
# jpn:jobs per node
# node:(idle|dedicated)
# runtime:
# mm:min memory(G)
# Tool options section
#
#############################################################

[igv_index]
jps:20
nps:
node:idle
runtime:10:00:00

[SelectVariants]
xmx:1
gc_threads:1
jps:35
nps:
node:idle
runtime:25:00:00
mm:40

[CombineGVCF]
xmx:18
gc_threads:10
node:idle
jps:2
runtime:20:00:00
mm:40

[GenotypeGVCF]
xmx:10
gc_threads:1
num_threads:1
node:idle
jps:5
runtime:25:00:00
mm:50

[CatVariants_Genotype]
node:idle
jps:1
nps:
runtime:10:00:00

[VariantRecalibrator_SNP]
xmx:40 
gc_threads:20 
num_threads:20 
minNumBadVariants: 5000
node:idle 
jps: 
mm:50

[VariantRecalibrator_INDEL]
xmx:40 
gc_threads:20 
num_threads:20 
minNumBadVariants: 5000
node:idle 
jps: 
mm:50

[ApplyRecalibration_SNP]
xmx:40 
num_threads:20 
ts_filter_level: 99.5
excludeFiltered: TRUE
node:idle 
jps: 
mm:50

[ApplyRecalibration_INDEL]
xmx:40 
num_threads:20 
ts_filter_level: 99.0
excludeFiltered: TRUE
node:idle 
jps: 
mm:50

[CombineVariants]
xmx:40 
num_threads:20 
genotypemergeoption: UNSORTED
node:idle 
jps: 
mm:50

[bgzip]
node:idle 

[tabix]
node:idle

